<div class="wrapper">
<footer class="footer">
  <div class="social-icons">
    <a href="https://www.instagram.com/" target="_blank">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a href="https://twitter.com/" target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="mailto:zdravkovskiid@gmail.com">
      <i class="fa fa-envelope fa-lg"></i>
    </a>
  </div>
  <div class="contact-info">
    <p>Contact us: +389 72 303 287</p>
  </div>
</footer>
</div>
