h2 {
  font-size: 24px; 
  margin-bottom: 15px; 
}

.form-container {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 20px; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  background-color: #f0f0f0;
  padding: 15px; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  font-size: 14px; 
}

input {
  width: 100%;
  padding: 8px; 
  margin: 2px 0; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; 
}

button {
  margin: 8px 0; /* Reduce the margins */
  padding: 8px 12px; /* Reduce the padding */
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px; /* Reduce the font size */
}

button.create-button {
  background-color: #28a745;
}

button.create-button:hover {
  background-color: #218838;
}

button.create-button:active {
  background-color: #1e7e34;
}

button[type="button"] {
  background-color: #dc3545;
}

button[type="button"]:hover {
  background-color: #c82333;
}

button[type="button"]:active {
  background-color: #bd2130;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px; /* Reduce the top margin */
}
